.CardImage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
  min-width: 300px;
  max-width: 492px;
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 768px) {
  .RowCardTitle {
    display: flex;
    justify-content: center;

    text-align: center;
  }
}
